
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>



<br /><br />
<div class="container">
    <div style="width: 300px">

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate style="text-align: center;">

            <table>
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" placeholder="Enter Email-Id" name="loginId"
                                #loginId="ngModel" ngModel required minlength="5" maxlength="20" />
                        </div><br/>
                    </td>

                    <td>
                        <div *ngIf="loginId.errors?.['required']  && loginId.touched"> Please Provide Login-ID </div>
                        <div *ngIf="loginId.errors?.['minlength'] && loginId.touched"> Please Provide Atleast 5
                            Characters </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" type="password" placeholder="Enter Password" name="password"
                                #password="ngModel" ngModel required minlength="3" maxlength="10" /><br />
                        </div><br />
                    </td>
                    <td>
                        <div *ngIf="password.errors?.['required']  && password.touched"> Please Provide Password </div>
                        <div *ngIf="password.errors?.['minlength'] && password.touched"> Please Provide Atleast 3
                            Characters </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button [disabled]="!loginForm.valid" class="btn btn-primary"> Login </button>
                        <span>&nbsp;New user?<a routerLink="Register">&nbsp;Register</a></span>
                    </td>
                </tr>
            </table>


        </form>


    </div>
</div>