<div class="container">
    <div style="width:450px">

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate>

            <table>
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" placeholder="Enter Email-Id" name="loginId"
                                #loginId="ngModel" ngModel required minlength="2" maxlength="20" /><br />
                        </div><br />
                    </td>

                    <td>
                        <div *ngIf="loginId.errors?.['required']  && loginId.touched"> Please Provide Login-ID </div>
                        <div *ngIf="loginId.errors?.['minlength'] && loginId.touched"> Please Provide Atleast 2
                            Characters </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" type="password" placeholder="Enter Password" name="password"
                                #password="ngModel" ngModel required minlength="2" maxlength="10" /><br />
                        </div><br />
                    </td>
                    <td>
                        <div *ngIf="password.errors?.['required']  && password.touched"> Please Provide Password </div>
                        <div *ngIf="password.errors?.['minlength'] && password.touched"> Please Provide Atleast 2
                            Characters </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button [disabled]="!loginForm.valid" class="btn btn-primary"> Login </button>
                        <span>New user?<a routerLink="Register">Register</a></span>
                    </td>
                </tr>
            </table>


        </form>


    </div>
</div>